### TOP 10 Functions in Pandas you should knwo as a Data Scientist

In [1]:

import pandas as pd
df = pd.read_csv('census.csv')
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [8]:
df.loc

In [12]:
# df[['SUMLEV','REGION','STATE']]

In [67]:
# sorted((df['STNAME'].unique()),reverse=True)

In [49]:
# df.loc[0:199,:]
# df.loc[0:199,['SUMLEV','REGION','STATE']] #?
sort_values()

NameError: name 'sort_values' is not defined

In [ ]:
df.iloc[:,0]

In [ ]:

df[df['CTYNAME'] =='Teton County']

In [68]:
df1=df.iloc[:, :1]
df1

      SUMLEV
0         40
1         50
2         50
3         50
4         50
...      ...
3188      50
3189      50
3190      50
3191      50
3192      50

[3193 rows x 1 columns]

In [69]:
df2=df.iloc[:, 4:7]
df2

      COUNTY   STNAME            CTYNAME
0          0  Alabama            Alabama
1          1  Alabama     Autauga County
2          3  Alabama     Baldwin County
3          5  Alabama     Barbour County
4          7  Alabama        Bibb County
...      ...      ...                ...
3188      37  Wyoming  Sweetwater County
3189      39  Wyoming       Teton County
3190      41  Wyoming       Uinta County
3191      43  Wyoming    Washakie County
3192      45  Wyoming      Weston County

[3193 rows x 3 columns]

In [77]:

df3 = pd.concat([df1, df2],axis=1)
df3
# pd.merge?

      SUMLEV  COUNTY   STNAME            CTYNAME
0         40       0  Alabama            Alabama
1         50       1  Alabama     Autauga County
2         50       3  Alabama     Baldwin County
3         50       5  Alabama     Barbour County
4         50       7  Alabama        Bibb County
...      ...     ...      ...                ...
3188      50      37  Wyoming  Sweetwater County
3189      50      39  Wyoming       Teton County
3190      50      41  Wyoming       Uinta County
3191      50      43  Wyoming    Washakie County
3192      50      45  Wyoming      Weston County

[3193 rows x 4 columns]

In [89]:
df3.groupby(['STNAME'])['SUMLEV'].m()

STNAME
Alabama                 49.852941
Alaska                  49.666667
Arizona                 49.375000
Arkansas                49.868421
California              49.830508
Colorado                49.846154
Connecticut             48.888889
Delaware                47.500000
District of Columbia    45.000000
Florida                 49.852941
Georgia                 49.937500
Hawaii                  48.333333
Idaho                   49.777778
Illinois                49.902913
Indiana                 49.892473
Iowa                    49.900000
Kansas                  49.905660
Kentucky                49.917355
Louisiana               49.846154
Maine                   49.411765
Maryland                49.600000
Massachusetts           49.333333
Michigan                49.880952
Minnesota               49.886364
Mississippi             49.879518
Missouri                49.913793
Montana                 49.824561
Nebraska                49.893617
Nevada                  49.444444
New Hampshire           49.090909
New Jersey              49.545455
New Mexico              49.705882
New York                49.841270
North Carolina          49.900990
North Dakota            49.814815
Ohio                    49.887640
Oklahoma                49.871795
Oregon                  49.729730
Pennsylvania            49.852941
Rhode Island            48.333333
South Carolina          49.787234
South Dakota            49.850746
Tennessee               49.895833
Texas                   49.960784
Utah                    49.666667
Vermont                 49.333333
Virginia                49.925373
Washington              49.750000
West Virginia           49.821429
Wisconsin               49.863014
Wyoming                 49.583333
Name: SUMLEV, dtype: float64

In [80]:
total_count = df3.groupby(['STNAME'])['COUNTY'].count()
total_count

STNAME
Alabama                  68
Alaska                   30
Arizona                  16
Arkansas                 76
California               59
Colorado                 65
Connecticut               9
Delaware                  4
District of Columbia      2
Florida                  68
Georgia                 160
Hawaii                    6
Idaho                    45
Illinois                103
Indiana                  93
Iowa                    100
Kansas                  106
Kentucky                121
Louisiana                65
Maine                    17
Maryland                 25
Massachusetts            15
Michigan                 84
Minnesota                88
Mississippi              83
Missouri                116
Montana                  57
Nebraska                 94
Nevada                   18
New Hampshire            11
New Jersey               22
New Mexico               34
New York                 63
North Carolina          101
North Dakota             54
Ohio                     89
Oklahoma                 78
Oregon                   37
Pennsylvania             68
Rhode Island              6
South Carolina           47
South Dakota             67
Tennessee                96
Texas                   255
Utah                     30
Vermont                  15
Virginia                134
Washington               40
West Virginia            56
Wisconsin                73
Wyoming                  24
Name: COUNTY, dtype: int64

In [91]:
#one format
# df2.groupby(['STNAME']).agg(
#     max_lvl=pd.NamedAgg(column='COUNTY', aggfunc='max'), 
#     min_lvl=pd.NamedAgg(column='COUNTY', aggfunc='min')).head()
df

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

In [92]:
#another format
df2.groupby(['STNAME'])['COUNTY'].agg(max_value='max', min_value='min')

                      max_value  min_value
STNAME
Alabama                     133          0
Alaska                      290          0
Arizona                      27          0
Arkansas                    149          0
California                  115          0
Colorado                    125          0
Connecticut                  15          0
Delaware                      5          0
District of Columbia          1          0
Florida                     133          0
Georgia                     321          0
Hawaii                        9          0
Idaho                        87          0
Illinois                    203          0
Indiana                     183          0
Iowa                        197          0
Kansas                      209          0
Kentucky                    239          0
Louisiana                   127          0
Maine                        31          0
Maryland                    510          0
Massachusetts                27          0
Michigan                    165          0
Minnesota                   173          0
Mississippi                 163          0
Missouri                    510          0
Montana                     111          0
Nebraska                    185          0
Nevada                      510          0
New Hampshire                19          0
New Jersey                   41          0
New Mexico                   61          0
New York                    123          0
North Carolina              199          0
North Dakota                105          0
Ohio                        175          0
Oklahoma                    153          0
Oregon                       71          0
Pennsylvania                133          0
Rhode Island                  9          0
South Carolina               91          0
South Dakota                137          0
Tennessee                   189          0
Texas                       507          0
Utah                         57          0
Vermont                      27          0
Virginia                    840          0
Washington                   77          0
West Virginia               109          0
Wisconsin                   141          0
Wyoming                      45          0

In [ ]:
import pandas as pd
import datetime as dt
import numpy as np

pd.np.random.seed(0)
df = pd.DataFrame({
         "date"    :  [dt.date(2012, x, 1) for x in range(1, 11)], 
         "returns" :  0.05 * np.random.randn(10), 
         "dummy"   :  np.repeat(1, 10)
})

In [ ]:
df

In [ ]:
df.groupby("dummy").agg({"returns": [np.mean, np.sum]})